# Default values for flair-notifications.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: flairbi/flair-notifications
  tag: 2.5.8
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

# Secret mount to be used if any secret files are needed to be added to the container during startup
# secretMountName: flair-secret

service:
  type: ClusterIP
  port: 8091

env:
  APP_CONFIG: /flair-config/application-kube.yml
  NODE_ENV: kube
  SLEEP_TIME: 60
  EUREKA_URL: http://admin:admin@flair-registry:8761/eureka
  GRPC_SSL_ENABLED: false

# Can be used if you want to set environment variables from a secret
# The key names need to be the same as the environment variables you want to set
# You would have to make sure the secret is created with the same key names as the environment variables you would like to set

secretEnv:
  name: flair-secret
  keys: []
    # - FLAIR_SECRET_USERNAME
    # - FLAIR_SECRET_PASSWORD
    # - DATABASE_USERNAME
    # - DATABASE_PASSWORD
    # - DATABASE_NAME
    # - DATABASE_HOSTNAME
    # - DATABASE_PORT
    # - DATABASE_DIALECT
    # - EUREKA_URL

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
